version: 2
jobs:
  build:
    working_directory: ~/Wolox/redux-recompose
    parallelism: 1
    shell: /bin/sh
    docker:
      - image: circleci/node:11
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Run tests
          command: npm run test -- --coverage
      - run:
          name: Send to Codecov
          command: "./node_modules/.bin/codecov --token=$CODECOV_TOKEN"
